# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

manipulacao-erros/.idea/modules.xml
manipulacao-erros/.idea/.gitignore
manipulacao-erros/.idea/manipulacao-erros.iml
manipulacao-erros/.idea/vcs.xml